body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  min-height: auto;
}
.site {
  position: inherit;
}
.breadcrumb {
  position: absolute;
  top: 70px;
  left: 250px;
}
.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.breadcrumb .home {
  display: flex;
}
.breadcrumb .house {
  margin-inline-end: 0.3em;
}
.breadcrumb li {
  display: flex;
}
.breadcrumb li:not(:last-of-type)::after {
  content: ">";
  margin: 0 0.6em;
  color: #777;
}
.hero {
  position: inherit;
  width: 100vw;
  height: 100vh;
}
.find {
  position: absolute;
  align-items: flex-start;
  top: 50px;
  right: 50px;
  z-index: 10;
  border: #0e0d0d 2px solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 20;
  display: none;
  padding: 10px;
  overflow: hidden;
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.find.show {
  display: flex;
}
.find.open {
  background-color: rgba(255, 255, 255, 1);
}
.find .search-btn {
  background-color: unset;
  border: unset;
  cursor: pointer;
  padding: 15px;
  z-index: 30;
}
.find .pagefind-ui {
  width: 0;
  height: 50px;
  overflow: hidden;
  transform: translateX(100%);
  transition:
    transform 0.5s ease-in-out,
    width 0.5s ease-in-out;
}
.find.open .pagefind-ui {
  width: calc(100vw - 174px);
  height: auto;
  transform: translateX(0);
}
.find .pagefind-ui__search-input {
  --pagefind-ui-border: none;
}
.find .pagefind-ui__results {
  max-height: calc(100vh - 220px);
  overflow: auto;
}
.find .pagefind-ui__message {
  border-bottom: solid var(--pagefind-ui-border) var(--pagefind-ui-border-width);
}
.find .pagefind-ui__search-input:focus-visible {
  outline: none;
}
.hero-title {
  font-size: 36px;
  font-weight: 700;
}
.hobofoto {
  font-size: 72px;
  font-weight: 700;
}
.hero_content:nth-child(even) .hero-image {
  position: absolute;
  width: 33vw;
  top: 0;
  left: 0;
}
.hero_content:nth-child(odd) .string {
  position: absolute;
  top: 50vh;
  left: 10vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}
.hero_content:nth-child(odd) .summary-string {
  position: absolute;
  top: calc(50vh + 40px);
  left: 10vw;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}
.hero_content:nth-child(odd) .scroll-btn {
  left: calc(25vw - 16px);
}
.hero_content:nth-child(odd) .hero-image {
  position: absolute;
  width: 33vw;
  right: 0;
  top: 0;
}
.hero_content:nth-child(even) .string {
  position: absolute;
  top: 50vh;
  right: 10vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}
.hero_content:nth-child(even) .summary-string {
  position: absolute;
  top: calc(50vh + 40px);
  right: 10vw;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}
.hero_content:nth-child(even) .scroll-btn {
  right: calc(25vw - 16px);
}
.hero-title span {
  display: inline-block;
}
.hero-image {
  height: 100vh;
  object-fit: cover;
}
.english {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-style: normal;
}
.japanese {
  font-family: mitimasu, sans-serif;
  font-style: normal;
}
.japanese2 {
  font-family: mamelon, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.hero .marker {
  background-image: linear-gradient(transparent 60%, lightblue 0%);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0 0.3em;
  padding-bottom: 1px;
  background-size: 0% 0.3em;
  animation: marker-animation 1s 0s 1 forwards;
}
@keyframes marker-animation {
  100% {
    background-size: 100% 0.3em;
  }
}
.hero .summary {
  font-size: 24px;
}
.hero .scroll-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5px;
  animation: scroll-btn 1s ease-in-out alternate infinite;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}
.hero .scroll-btn svg {
  overflow: visible;
  fill: #0e0d0d;
  height: 50px;
  width: 32px;
  margin-bottom: 10px;
  margin: 0 auto;
}
.hero .scroll-btn svg .rect_1 {
  stroke-width: 2;
  stroke-linecap: round;
  opacity: 0.3;
}
.hero .scroll-btn svg .animated {
  stroke-width: 2;
  stroke-linecap: round;
  opacity: 0.8;
  visibility: visible;
  stroke-dashoffset: 0;
  stroke-dasharray: 0px, 0px;
  animation: scroll-down 2s infinite linear;
}
.hero_content .scroll-btn svg .ball {
  animation: ball-move 1s infinite ease-in-out alternate;
}
.hero_content:first-child .scroll-btn svg .ball {
  animation: ball-move 1s infinite ease-in-out;
}
.hero_content:last-child .scroll-btn svg .ball {
  animation: ball-move 1s infinite ease-in-out reverse;
}
.scroll-btn .text {
  color: #0e0d0d;
}
@keyframes scroll-down {
  0% {
    stroke-dasharray: 0, 180px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.8;
    stroke-dasharray: 215.7737px, 363.607px;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ball-move {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(16px);
    opacity: 0;
  }
}
.blog {
  background-image: url("/blog.webp");
}
.software {
  background-image: url("/software.webp");
}
.photo {
  background-image: url("/photo.webp");
}
.about {
  background-image: url("/about.webp");
}
.math {
  background-image: url("/math.webp");
}
body:has(.novels) {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/novels.webp");
}
.blog,
.software,
.photo,
.about,
.math {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.math .etc {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}
.novels {
  height: 80vh;
  margin: 15vh 20px 0px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
.container {
  width: 80vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.novels-container {
  -webkit-writing-mode: vertical-rl; /* 実装済 */
  -moz-writing-mode: vertical-rl; /* 実装済 */
  -ms-writing-mode: vertical-rl; /* 実装済 */
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright; /* 実装済 */
  -moz-text-orientation: upright; /* 未実装 */
  -ms-text-orientation: upright; /* 実装済 */
  text-orientation: upright;
  text-align: justify;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.header {
  position: relative;
  height: 120px;
}
.novels .header {
  position: static;
  height: 100%;
  min-height: 10px;
}
.header h1 {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 10px;
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.novels .header h1 {
  position: static;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.article {
  height: calc(100vh - 120px);
  overflow: auto;
}
.blog .article,
.software .article,
.about .article,
.math .article {
  width: calc(80vw - 100px);
  margin: 0 auto;
}
.article-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-inline-start: 0;
  margin-block-start: 0;
  overflow: auto;
  height: calc(100vh - 140px);
}
.article-left a:has(> h2) {
  color: #0e0d0d;
}
.article-item .bottom {
  margin: auto 20px 20px auto;
}
.article-item .bottom a {
  padding: 20px 40px;
  border: #35bcff solid 1px;
}
.article-item {
  display: flex;
  column-gap: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 340px;
}
.article-left {
  display: flex;
  width: calc((80vw - 120px) / 2);
  flex-direction: column;
  row-gap: 10px;
}
.article-left .summary {
  overflow: hidden;
  font-size: 14px;
}
.article-right img {
  width: calc((80vw - 120px) / 2);
  height: 300px;
  object-fit: cover;
}
.article-list::-webkit-scrollbar {
  display: none;
}
.writing {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-block-start: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  overflow: auto;
  height: calc(100vh - 140px);
}
.writing::-webkit-scrollbar {
  display: none;
}
.writing .title {
  position: relative;
  min-height: 400px;
}
.writing .title img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.writing h2,
.writing h3,
.writing h4,
.writing h5,
.writing h6 {
  margin: 1em 0;
}
.writing .title h2 {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 10px;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}
.writing img {
  display: inline;
}
.writing pre {
  padding: 10px;
}
.writing summary::marker {
  cursor: pointer;
}
.writing table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  text-align: center;
}
.writing tr {
  background-color: #e6f1f6;
}
.writing tr:nth-child(even) {
  background-color: #fff;
}
.writing th,
.writing td {
  padding: 1em;
}
.writing thead th {
  background-color: #4d9bc1;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.writing tbody th {
  color: #4d9bc1;
}
.writing a {
  inline-size: 150px;
  overflow-wrap: break-word;
}
.writing math {
  font-size: 16px;
  padding: 5px 0;
}
.writing math.tml-display {
  margin: 10px 0;
}
.writing math mtext {
  font-family: mamelon, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.photo .photo-list {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  padding: 0 20px 20px;
  overflow: auto;
}
.photo .card {
  position: relative;
  border-radius: 10;
  overflow: hidden;
}
.photo .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.photo .article::-webkit-scrollbar {
  display: none;
}
.pnWrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  max-width: 80vw;
  padding-right: 30px;
  padding-left: 30px;
}
.pnWrapper h3 {
  text-wrap: auto;
}
.pnWrapper > a {
  display: flex;
  justify-content: center;
  border: 2px solid #35bcff;
  width: 100%;
  padding: 2rem 5rem;
  color: inherit;
  background-color: #fff;
}
.pnWrapper > a img {
  margin: auto 10px;
}

.pnWrapper > a:hover {
  opacity: 0.8;
}
.pnWrapper .pagination {
  display: flex;
  list-style: none;
  border: 2px solid #35bcff;
  background-color: #fff;
  column-gap: 5px;
  padding-inline-start: 0;
}
.pnWrapper .pagination li {
  justify-content: center;
  padding: 1.5rem 10px;
  color: inherit;
}
.pnWrapper .pagination a {
  display: flex;
  color: blue;
}

.novels .article-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-inline-start: 0;
  margin-block-start: 0;
  overflow: auto;
  height: 100%;
  width: calc(100vw - 152px);
  margin: 0;
  padding: 0;
}

.novels .breadcrumb {
  background-color: rgba(255, 255, 255, 0.8);
}

.novels .breadcrumb ol {
  padding: 0 40px;
}

.novels .article-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.novels .article-left {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.novels .article-left .summary {
  overflow: hidden;
  font-size: 18px;
}

.novels .article-left .content p {
  margin: 0;
  font-size: 20px;
}

.novels .article-left .content p.indent {
  text-indent: 1em;
}

.novels .article-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-block-start: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
  height: 100%;
}

.novels .book {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-block-start: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: calc(100vw - 152px);
}

.novels .article-item .bottom {
  margin: auto 40px 20px 40px;
}

.novels .article-item .bottom a {
  padding: 40px 20px;
  border: #35bcff solid 1px;
}

.novels .article-right img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.novels .content img {
  height: 100%;
  width: auto;
  margin: 0 16px;
}

.novels .backforward {
  display: grid;
  place-items: center; /* 垂直・水平とも中央 */
  border: solid 1px;
  padding: 20px;
  margin: 0 20px;
  min-height: 3rem;
  text-align: center;
}

.novels a:has(.backforward) {
  text-decoration: none;
}

.novels .article-left h2 span {
  white-space: nowrap;
  font-size: 0.7em;
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-block-start: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
  height: calc(100vh - 140px);
}
.contact .part {
  margin-bottom: 1rem;
}
.contact .error {
  color: red;
}
.contact-message {
  white-space: pre-wrap;
}
.contact-message-textarea {
  display: none;
}
.contact .confirm label,
.contact .confirm p {
  margin-bottom: 1rem;
}
.contact .confirm p {
  margin-left: 1rem;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 0.4rem;
  box-sizing: border-box;
  border: solid 1px grey;
  border-radius: 5px;
}

.contact label {
  font-size: 1.4rem;
}

.contact button {
  width: 100%;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #35bcff;
  transition-duration: 0.4s;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.contact button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.contact button:focus {
  outline: none;
}
.about a,
.blog a,
.photo a,
.software a,
.math a,
.novels a {
  color: blue;
}

.talking {
  margin-bottom: 2em;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
.talking.left {
  display: flex;
  align-items: center;
}
.talking.right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.talking:before,
.talking:after {
  clear: both;
  content: "";
  display: block;
}

.talking figure {
  width: 100px;
  height: 100px;
}

.talking-left_icon {
  float: left;
  margin-right: 20px;
}

.talking-right_icon {
  float: right;
  margin-left: 20px;
}

.talking figure img {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px solid #aaa;
  border-radius: 50%;
}

.talking-left_icon figcaption,
.talking-right_icon figcaption {
  padding: 2px 0 0;
  font-size: 12px;
  text-align: center;
}

.talking-left,
.talking-right {
  position: relative;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  max-width: calc(100% - 80px);
  width: calc(100% - 240px);
}

.talking p {
  margin: 0;
}

.talking p :last-child {
  margin: 0;
}

.talking-left {
  float: left;
  border-width: 2px;
  border-color: lightpink;
  background: lightpink;
}

.talking-left:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid lightpink;
  top: 15px;
  left: -22px;
}

.talking-left:after {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid lightpink;
  top: 15px;
  left: -19px;
}

.talking-right {
  float: right;
  border-width: 2px;
  border-color: khaki;
  background: khaki;
}

.talking-right:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-left: 10px solid khaki;
  top: 15px;
  right: -22px;
}

.talking-right:after {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-left: 10px solid khaki;
  top: 15px;
  right: -19px;
}
.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-left: 3rem;
  margin-right: 3rem;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.line {
  font-family: gintronic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.line.diff.remove {
  display: inline-block;
  height: 1.5em;
  width: 100%;
  background-color: #613131;
}
.line.diff.remove::before {
  margin-right: 4px;
  content: "−";
  color: #dc2626;
}
.line.diff.add {
  display: inline-block;
  height: 1.5em;
  width: 100%;
  background-color: #31613d;
}
.line.diff.add::before {
  margin-right: 4px;
  content: "+";
  color: #16a34a;
}
@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
  .header {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .header h1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .breadcrumb {
    position: relative;
    top: 0;
    left: 0;
  }
  .blog .article,
  .software .article,
  .about .article,
  .math .article {
    width: 100%;
    margin: 0;
  }
  .writing,
  .contact {
    margin-block-start: 0;
  }
  .writing .title h2 {
    position: relative;
    top: 0;
    left: 0;
  }
  .writing table {
    text-align: left;
  }
  .writing tr {
    background-color: unset;
  }
  .writing th,
  .writing td {
    border: 0;
    border-bottom: 1px solid #4d9bc1;
  }
  .writing tbody th {
    background: #4d9bc1;
    color: #fff;
    text-align: center;
  }
  .wrapper {
    padding: 2rem 0 10rem;
  }

  .pnWrapper {
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .pnWrapper > a {
    padding: 1rem;
  }
  .photo .photo-list {
    padding: 0 0 10px 0;
  }
  .portfolio-content {
    flex-direction: column-reverse;
  }
  .portfolio-right img {
    width: 100%;
  }
  .article-item {
    flex-direction: column;
    height: 100%;
  }
  .article-left,
  .article-right img {
    width: 100%;
  }
  .article-item .bottom a {
    padding: 1rem;
  }
  .article-item .bottom {
    margin: 1rem 1rem 1.5rem auto;
  }
  .skill {
    flex-direction: column;
  }
  .portfolio-left,
  .skill-left,
  .skill-right {
    width: 100%;
  }
  .talking {
    margin-left: 0;
    margin-right: 0;
  }
  .talking-left,
  .talking-right {
    width: calc(100% - 120px);
  }
  .iframe-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
