---
import Mpeg from "../images/404.webp";
import Layout from "../layouts/layout.astro";
---

<Layout title="404" description="404 not found">
  <div class="hero">
    <div class="hero_content" style="display: block">
      <div class="string">
        <h2 class="hero-title english hobofoto">404 not found</h2>
        <div class="summary japanese">アドレスが見つかりません</div>
      </div>
      <div class="hero-image">
        <img src={Mpeg.src} alt="top" class="hero-image" />
      </div>
    </div>
  </div>
</Layout>
