@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.skw-page__half {
  transition: transform 1s;
}
.skw-page__half--left {
  transform: translate3d(-32.4vh, 100%, 0);
}
.skw-page__half--right {
  transform: translate3d(32.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  transform: translate3d(0, 0, 0);
}
.skw-page__content {
  transition:
    transform 1s,
    opacity 1s;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  transform: skewX(18deg) scale(0.95);
}

.loader {
  aspect-ratio: 2;
  --c:no-repeat linear-gradient(rgb(243 244 246) 0 0);
  background: var(--c),var(--c),var(--c),var(--c),var(--c),var(--c),var(--c);
  animation: 
    l4-1 1.5s infinite,
    l4-2 1.5s infinite;
}

.container,
.overlay:before {
  background: url(/AdobeStock_437515308.jpeg) no-repeat fixed 0 0/cover;
}

@keyframes l4-1 {
  0%      {background-size: 0   4px,4px 0  ,0   4px,4px 0   ,0   4px,4px 0  ,0   4px}
  7.14%   {background-size: 25% 4px,4px 0  ,0   4px,4px 0   ,0   4px,4px 0  ,0   4px}
  14.29%  {background-size: 25% 4px,4px 50%,0   4px,4px 0   ,0   4px,4px 0  ,0   4px}
  21.43%  {background-size: 25% 4px,4px 50%,25% 4px,4px 0   ,0   4px,4px 0  ,0   4px}
  28.57%  {background-size: 25% 4px,4px 50%,25% 4px,4px 100%,0   4px,4px 0  ,0   4px}
  35.71%  {background-size: 25% 4px,4px 50%,25% 4px,4px 100%,25% 4px,4px 0  ,0   4px}
  42.86%  {background-size: 25% 4px,4px 50%,25% 4px,4px 100%,25% 4px,4px 50%,0   4px}
  49%,
  51%     {background-size: 25% 4px,4px 50%,25% 4px,4px 100%,25% 4px,4px 50%,25% 4px}
  57.14%  {background-size: 0   4px,4px 50%,25% 4px,4px 100%,25% 4px,4px 50%,25% 4px}
  64.29%  {background-size: 0   4px,4px 0  ,25% 4px,4px 100%,25% 4px,4px 50%,25% 4px}
  71.43%  {background-size: 0   4px,4px 0  ,0   4px,4px 100%,25% 4px,4px 50%,25% 4px}
  78.57%  {background-size: 0   4px,4px 0  ,0   4px,4px 0   ,25% 4px,4px 50%,25% 4px}
  85.71%  {background-size: 0   4px,4px 0  ,0   4px,4px 0   ,0   4px,4px 50%,25% 4px}
  92.86%  {background-size: 0   4px,4px 0  ,0   4px,4px 0   ,0   4px,4px 0  ,25% 4px}
  100%    {background-size: 0   4px,4px 0  ,0   4px,4px 0   ,0   4px,4px 0  ,0   4px}
}
@keyframes l4-2 {
  0%,49.9% {background-position:0 50%,bottom 20px left 16px,20px 0,50% 0,40px 100%,bottom 0 right 16px,60px 50% }
  50%,100% {background-position:right 60px top 50%,16px 0,right 40px top 0,50% 100%,right 20px bottom 0,right 16px top 20px,100% 50%}
}

/*下からの距離が変化して丸の全体が上→下→上に動く*/
@keyframes circleMoveUpDown {
  0% {
    bottom: 45px;
  }
  50% {
    bottom: -5px;
  }
  100% {
    bottom: 45px;
  }
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circleMoveDown {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

/*下からの距離が変化して丸の全体が下から上に動く*/
@keyframes circleMoveUp {
  0% {
    bottom: -5px;
  }
  100% {
    bottom: 45px;
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes circleMoveHide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

ul.sample1{
  padding: 0;
  font: 14px/1.6 'arial narrow', sans-serif;
  width:370px;
  list-style: none;
}
ul.sample1 li{
  position: relative;
  padding: 0.5em 1em 0.5em 2.3em;
  margin-bottom:5px;
  color: rgb(243 244 246);
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid rgba(243, 244, 246, 0.5);
}
ul.sample1 li:after,
ul.sample1 li:before{
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
ul.sample1 li:before{
  top: 0.7em;
  left: 0.2em;
  width: 12px;
  height: 12px;
  border:2px solid rgba(243, 244, 246, 0.5);
}
ul.sample1 li:after{
  top: 0.9em;
  left: 0.7em;
  width: 14px;
  height: 14px;
  background: rgba(243, 244, 246, 0.3);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}