---
import Confirms from "../../components/Confirm.jsx";
import Layout from "../../layouts/aboutme.astro";
---

<Layout
  title="Contact confirm"
  description="HoBoFoTo.work Portfolio Contact confirm"
  about="問い合わせフォーム確認"
  canonical="/contact"
>
  <div class="contact">
    <h1 class="japanese2">内容確認</h1>
    <p>下記の内容でよろしいですか</p>
    <Confirms client:load />
  </div>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</Layout>
