---
import Layout from "../../layouts/layout.astro";
import { Image } from "astro:assets";
import House from "../../images/house.svg";
---


<Layout title="About me" description="HoBoFoTo.work Portfolio site">
  <div class="about">
    <div class="container">
      <div class="header">
        <h1 class="english">About me</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="japanese">
              <a href="/" class="home">
                <!-- house.svg © Fonticons, Inc. -->
                <Image
                  src={House}
                  alt="home"
                  width={20}
                  height={20}
                  class="house"
                />
                <span>ホーム</span>
              </a>
            </li>
            {Astro.props.blog ? (
              <li class="english"><a href="/software">About me</a></li>
              <li class="japanese">{Astro.props.blog}</li>
            ):(
            <li class="english"><a href="/aboutme">About me</a></li>
            <li class="japanese">問い合わせフォーム</li>
            )}
          </ol>
        </nav>
      </div>
      <div class="article">
        <div class="contact">
          <h1 class="japanese2">問い合わせフォーム</h1>
            <p>下記フォームからお気軽にお問い合わせください</p>
            <form name="contact" method="POST">
              <label for="name">お名前</label>  
              <input type="text" name="name" id="name" required/>
              <label for="email">メールアドレス</label>
              <input type="email" name="email" id="email" required/>
              <label for="textarea">ご用件</label>
              <textarea name="message" rows="10" id="textarea" required></textarea>
              <button type="submit">送信</button>
            </form> 
        </div>
      </div>
    </div>
  </div>
</Layout>