---
import ContactForm from "../../components/ContactForm.jsx";
import Layout from "../../layouts/aboutme.astro";
---

<Layout
  title="Contact"
  description="HoBoFoTo.work Contact"
  about="問い合わせフォーム"
>
  <div class="contact">
    <h1 class="japanese2">問い合わせフォーム</h1>
    <p>下記フォームからお気軽にお問い合わせください</p>
    <ContactForm client:load />
  </div>
</Layout>
