---
import Layout from "../../layouts/aboutme.astro";
---

<Layout
  title="送信完了"
  description="HoBoFoTo.work transmission complete"
  about="送信完了"
>
  <div class="contact">
    <h1 class="japanese2">送信完了</h1>
    <p class="japanese2">
      返信までしばらくかかる場合があります。ご了承ください。
    </p>
    <p class="japanese2"><a href="/aboutme">About meに戻る</a></p>
  </div>
</Layout>
