---
import { Image } from "astro:assets";
import House from "../../images/house.svg";
import Layout from "../../layouts/layout.astro";
---

<Layout title="About me" description="HoBoFoTo.work Portfolio site">
  <div class="about">
    <div class="container">
      <div class="header">
        <h1 class="english">About me</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="japanese">
              <a href="/" class="home">
                <!-- house.svg © Fonticons, Inc. -->
                <Image
                  src={House}
                  alt="home"
                  width={20}
                  height={20}
                  class="house"
                />
                <span>ホーム</span>
              </a>
            </li>
            <li class="english"><a href="/aboutme">About me</a></li>
            <li class="japanese">問い合わせフォーム</li>
          </ol>
        </nav>
      </div>
      <div class="article">
        <div class="contact">
          <h1 class="japanese2">送信完了</h1>
          <p class="japanese2">
            返事待てしばらくかかる場合があります。ご了承ください。
          </p>
          <p class="japanese2"><a href="/aboutme">About meに戻る</a></p>
        </div>
      </div>
    </div>
  </div>
</Layout>
